* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/** Main Body **/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
}

/**.main-content**/

.main-header {
    background-color: slategray;
}
  
.main-content {
        background: url("bonfire.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 0 2rem;
  }

.homeTitle {
    position: relative;
    padding-top: 30px;
    padding-left: 30px;
    text-align: center;
    color: ivory;
    text-shadow: 4px 4px 5px black;
}

.intro,
.instructions {
    margin-top: 2em;
    text-align: center;
    color: goldenrod;
    text-shadow: 2px 2px 4px black;  
}

.instructions {
    margin-top: 2em;
    text-align: center;
    color: orangered;
    text-shadow: 1px 1px 3px black;
}

.row {
    margin-top: .5em;
    display: block;
}

.graphsTitle,
.variableTitle,
.mapTitle {
    margin-top: 1em;
    font-size: 2rem;
    font-weight: bolder;
    color: teal;
    text-shadow: 1px 1px 3px black;
}

.mapTitle {
    text-align: center;
}

.graphsTitle {
    text-align: center;
}

/**Variable Selectors**/
select {
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 25px black;
    font-size: 1rem;
    padding: .25em .5em .25em .25em;
    background-color: #4d5061;
    color: ivory;
    border: 0;
    margin-top: 5%;

}


#potableWater, #fireRing, #petsAllowed, #bathrooms, 
#secluded {
    font-size: 1.25rem;
    font-weight: bold;
    padding-left: 5%;
    padding-top: 10%;
  }

  #resultPotableWater {
    background: darkslateblue;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 10%;
  } 

  #resultFireRing {
    background: darkslateblue;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 10%;
  } 

  #resultPetsAllowed {
    background: darkslateblue;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 10%;
  } 

  #resultSecluded {
    background: darkslateblue;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 10%;
  } 

  .container-fluid {
    background: lightslategray;
  }

  #kyPopTitle{
      color: lightcoral;
      text-shadow: 2px 2px 4px black; 
      padding-left: 5%;
  }

  #popKY {
    padding-left: 7%;
    padding-bottom: 2.5%;
  }

/**Data Viz Content**/  
  .vizCol {
        width: 100%;
        padding: 0 0 5rem 0;
  }

  #firstGraph,
  #secondGraph,
  #thirdGraph {
      margin-top: 5%;
      margin-bottom: 1rem;
  }

 
/** Footer **/
.main-footer {
    position: relative;
    background: #AAA0A0;
    padding: 2em 0;
    margin-top: auto;
    text-align: center;
    color: black;
    width: 100%;
}


  /** Media Queries **/

@media only screen and (max-width: 500px) {
    .main-header
    .nav_links
    .button {
       justify-content: center;
       flex-wrap: wrap;
       width: 100%;
    }

    .nav_links {
        display: none;
    }

    label {
        display: flex;
        cursor: pointer;
    }

    #toggle:checked + .nav_links {
        display: flex;
        visibility: visible;
        flex-direction: column;
    }

    .title{
        display: flex;
        flex-direction: column;
    }

    .contactUsForm {
        margin-top: 5px;
    }
}

@media only screen and (min-width: 768px),
       only screen and (min-width: 700px) and (orientation: landscape) {
        
    .main-header {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 30px 10%;
    }
  
    .main-content {
        padding-left: 3rem;
    }
        
    .nav_links li {
        display: inline-block;
    }

    .row {
        display: flex;
        flex-direction: row;
    }
  
    .vizCol {
        width: 75%;
        padding-left: 1rem;
        padding-bottom: 5rem;
    }
}   
/**@media only screen and (min-width: 1140px) {
} **/